@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
  .nav-button {
    display: block;
    grid-column-start: 2;
    justify-self: end;
  }
  .main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    grid-column-start: 1;
    margin: 0;
    justify-self: start;
  }
  .navigation {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width:480px) {
  .content {
    grid-template-columns: 1fr;
    margin: auto 0.5em;
  }
  .navigation {
    text-align: left;
    max-height: 0;
    overflow: hidden;
  }
  .navigation.open {
    max-height: 50vh;
  }
  .navigation a {
    width:100%;
    box-sizing: border-box;
  }
  .card-image {
    height: 240px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .banner h1 {
    font-size: 24px;
  }
}

