html,body {
  min-height: 100vh;
}
body {
  background-color:bisque;
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.main-header {
  background-color: #4d6b51;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  /* make header stick to top of page */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
.logo {
  width: 100px;
  margin: auto;
  display: block;
}
.navigation {
  background-color: #000000;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navigation a {
  color: #dbfce0;
  text-decoration: none;
  font-size:18px;
  padding: 12px;
  display: block;
}
.navigation .active {
  background-color: #545454;
}
.dropdown {
  position: relative;
}
.dropdown > a::after {
  content: "\25bc";
  font-size: 0.6em;
  margin-left: 1em;
}
.submenu {
  position: absolute;
  top: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  max-height: 0;
  z-index: 99999;
}
.submenu a {
  white-space: nowrap;
}
.dropdown:hover > .submenu {
  max-height: 300px;
}
.nav-button {
  width: 52px;
  height: 52px;
  background-image: url('images/bars-solid.png');
  background-color: transparent;
  background-size: contain;
  border-color: transparent;
  display: none;
}

.copyright {
  text-align: center;
  color: white;
  font-size: 12px;
}
.banner {
  background-color: lightblue;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
  background-image: url("images/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vh;
}
.banner h1 {
  color: #ffffff;
  font-size: 42px;
  text-shadow: 0px 0px 2px black;
  /* background-color:rgba(0, 0, 0, 0.377); */
  padding: 15px;
  margin: 0;
  grid-row-start: 1;
  align-self: end;
}
.banner a {
  grid-row-start: 2;
  align-self: center;
  background-color: #0000007c;
  color: #ffffff;
  text-decoration: none;
  padding: 16px;
  border-radius: 10px;
}
.banner a:hover {
  background-color: #000000;
}
.content {
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  font-family: 'Lora', serif;
}

.card {

}

.column-3 {
  grid-column: span 3;
}

.card-image {
  max-width: 100%;
}

#contact {
  grid-column-start: 2;
}
label {
  display: block;
  margin-top: 1em;
}
.input {
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}
#rating {
  display: block;
  width: 100%;
}
.rating-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rating-labels label {
  margin-top: 0;
}
.choose-fruit label {
  display: inline-block;
}

.footer {
  background-color: #4d6b51;
  display: grid;
  place-items: center;
  margin-top: 3em;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}

.social {
  display: flex;
  flex-direction: row;
}

.social a {
  color: white;
  font-size: 24px;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}
.social a:hover {
  color: yellow;
}

/* slideshow */
.slide {
  min-height: 70vh;
  min-width: 100%;
  position: relative;
  z-index: 1;
}
.slideshow {
  z-index: 1;
}
.slide-image {
  height: 70vh;
  width:100%;
  object-fit: cover;
  object-position: center;
}
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  color:yellow;
  background-color: black;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
}
.slide-button {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: yellow;
  top: 70%;
  left: 50%;
  font-size: 2em;
  padding: 15px;
  border-radius: 5px;
  transform: translateX(-50%) translateY(-50%);
}